[profile.default]
src = "src"
out = "out"
libs = ["lib", "dependencies"]
fs_permissions = [{ access = "read", path = "out-optimized" }]
allow_paths = ["*", "/"]
optimizer = true
optimizer_runs = 2_000
via_ir = true

[fmt]
bracket_spacing = true
int_types = "long"
line_length = 120
multiline_func_header = "all"
number_underscore = "thousands"
quote_style = "double"
tab_width = 4
wrap_comments = true

[dependencies]
forge-std = "1.9.7"
eth-infinitism-account-abstraction = "0.8.0"
"@openzeppelin-contracts" = "5.4.0"
solady = "0.1.24"
